{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}

{% block page_checkout_confirm_payment_current_text %}
    {{ parent() }}

    {% set isAfterPayPaymentMethodDirectDebit = context.paymentMethod.formattedHandlerIdentifier is same as('handler_colo_directdebitpayment') %}
    {% set isAfterPayPaymentMethodInstallment = context.paymentMethod.formattedHandlerIdentifier is same as('handler_colo_installmentpayment') %}

    {% if isAfterPayPaymentMethodDirectDebit or isAfterPayPaymentMethodInstallment %}
        {% if isAfterPayPaymentMethodDirectDebit %}
            {% set afterpayPaymentMethod = 'directdebit' %}
        {% else %}
            {% set afterpayPaymentMethod = 'installment' %}
        {% endif %}

        {% set maskedIban = '' %}
        {% set iban = context.customer.customFields['afterpay_' ~ afterpayPaymentMethod ~ '_iban'] %}
        {% set bic = context.customer.customFields['afterpay_' ~ afterpayPaymentMethod ~ '_bic'] %}
        {% if iban %}
            {% if iban|length > 10 %}
                {% set maskedIban = iban[:10] ~ '********' ~ iban[18:] %}
            {% else %}
                {% set maskedIban = iban %}
            {% endif %}
        {% endif %}
        <div class="afterpay-payment-data">
            <div data-afterpay-payment="true">
                {% if maskedIban or bic %}
                    <div class="iban-bic-data">
                        {% if maskedIban %}
                            <strong>IBAN:</strong> {{ maskedIban }}<br/>
                        {% endif %}
                        {% if bic %}
                            <strong>BIC:</strong> {{ bic }}
                        {% endif %}
                    </div>
                {% endif %}

{#                {% if isAfterPayPaymentMethodInstallment %}#}
{#                    <div class="payment-method-installment-fields" data-afterpay-payment-form="true" data-save-url="{{ path('frontend.afterpay.save-bank-details') }}">#}
{#                        <div class="installments-container" data-installments="true" data-get-url="{{ path('frontend.afterpay.get-installments') }}"></div>#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
        </div>
    {% endif %}
{% endblock %}